[submodule "buffer/axis_fifo"]
	path = buffer/axis_fifo
	url = https://github.com/johnathan-convertino-afrl/axis_fifo.git
[submodule "buffer/axis_tiny_fifo"]
	path = buffer/axis_tiny_fifo
	url = https://github.com/johnathan-convertino-afrl/axis_tiny_fifo.git
[submodule "buffer/fifo"]
	path = buffer/fifo
	url = https://github.com/johnathan-convertino-afrl/fifo.git
[submodule "converter/axis_data_to_axis_string"]
	path = converter/axis_data_to_axis_string
	url = https://github.com/johnathan-convertino-afrl/axis_data_to_axis_string.git
[submodule "converter/axis_string_to_axis_data"]
	path = converter/axis_string_to_axis_data
	url = https://github.com/johnathan-convertino-afrl/axis_string_to_axis_data.git
[submodule "converter/axis_data_width_converter"]
	path = converter/axis_data_width_converter
	url = https://github.com/johnathan-convertino-afrl/axis_data_width_converter.git
[submodule "device/axis_1553_decoder"]
	path = device/axis_1553_decoder
	url = https://github.com/johnathan-convertino-afrl/axis_1553_decoder.git
[submodule "device/axis_1553_encoder"]
	path = device/axis_1553_encoder
	url = https://github.com/johnathan-convertino-afrl/axis_1553_encoder.git
[submodule "device/axis_uart"]
	path = device/axis_uart
	url = https://github.com/johnathan-convertino-afrl/axis_uart.git
[submodule "device/ft245_sync_to_axis"]
	path = device/ft245_sync_to_axis
	url = https://github.com/johnathan-convertino-afrl/ft245_sync_to_axis.git
[submodule "math/axis_moving_average"]
	path = math/axis_moving_average
	url = https://github.com/johnathan-convertino-afrl/axis_moving_average.git
[submodule "device/bus_uart"]
	path = device/bus_uart
	url = https://github.com/johnathan-convertino-afrl/bus_uart.git
[submodule "ram/dc_block_ram"]
	path = ram/dc_block_ram
	url = https://github.com/johnathan-convertino-afrl/dc_block_ram.git
[submodule "ram/bus_block_ram"]
	path = ram/bus_block_ram
	url = https://github.com/johnathan-convertino-afrl/bus_block_ram.git
[submodule "bus/up_wishbone_classic"]
	path = bus/up_wishbone_classic
	url = https://github.com/johnathan-convertino-afrl/up_wishbone_classic.git
[submodule "bus/up_wishbone_pipeline"]
	path = bus/up_wishbone_pipeline
	url = https://github.com/johnathan-convertino-afrl/up_wishbone_pipeline.git
[submodule "bus/up_apb3"]
	path = bus/up_apb3
	url = https://github.com/johnathan-convertino-afrl/up_apb3.git
[submodule "device/sd-card-controller"]
	path = device/sd-card-controller
	url = https://github.com/johnathan-convertino-afrl/SD-card-controller.git
[submodule "device/bus_1553"]
	path = device/bus_1553
	url = https://github.com/johnathan-convertino-afrl/bus_1553.git
[submodule "device/bus_gpio"]
	path = device/bus_gpio
	url = https://github.com/johnathan-convertino-afrl/bus_gpio.git
